<% if flash.any? %>
  <% user_facting_flashes.each do |key, valure| %>
    <div class="alert alert-dismissable alert-<%= flash_class(key) %>">
      <button class="clise" data-dismiss-"alert">x</button>
      <%= value %>
    </div>
  <% end %>
<% end %>
